body{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar-info{
    color: white;
    margin: 20px;
}